
*.ipynb
.DS_Store
__pycache__
.idea
BayesOpt/__pycache__
gate_distance/.DS_Store
gate_distance/__pycache__
utility/__pycache__
training/__pycache__
embedding/__pycache__
QuOTMANN/__pycache__
surfer/__pycache__
