
*.ipynb
.DS_Store
__pycache__
.idea
BayesOpt/__pycache__
gate_distance/.DS_Store
gate_distance/__pycache__
retired/utility/__pycache__
training/__pycache__
embedding/__pycache__
QuOTMANN/__pycache__
surfer/__pycache__
notebook testing
src/notebook_testing
gate_distance/unused
retired/
notebooks/
src/12theta_raw_all_shape_distances.pkl
src/8theta_raw_all_shape_distances.pkl